<div class="page-login">
  <div class="wrapper">
    <div class="content">
      <div class="image"></div>
      <div class="marketing-copy">
        <h1>Mobile Payment Made Easy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button class="button">Learn More</button>
      </div>
    </div>

    <div class="login-form">
      <div class="content-form">
        <h1><img class="logo" src="assets/images/logo-icon.png">DriverDash Access</h1>
        <p>Please use your WEX Online credentials to log into this portal.</p>

        <form {{action 'handleAuthentication' on='submit'}}>
          {{#liquid-if errorMessage}}
            <div class="alert callout">
              <p><i class="icon-attention"></i> {{errors-login errorMessage}}</p>
            </div>
          {{/liquid-if}}

          <label for="identification">Username</label>
          {{input id='identification' value=identification}}

          <label for="password">Password</label>
          {{input id='password' type='password' value=password}}

          <button id="btn-login" type="submit" class="button" disabled={{not hasCredentials}}>Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
