<div class="content-title">
  <h2>
    {{#yield-slot 'title'}}
      {{yield}}{{else}}Page Title
    {{/yield-slot}}
  </h2>

  <p>
    {{#yield-slot 'subtitle'}}
      {{yield}}{{else}}Lorem ipsum dolor sit amet...
    {{/yield-slot}}
  </p>
</div>

<div class="content-partners">
  <p>Mobile Payment Currently Accepted At These Locations</p>
</div>

{{yield}}
