<div class="top-bar">
  <div class="top-bar-title">WEX</div>

  <div class="content-account">
    <div class="top-bar-left">
      <span class="account-name">{{ company.name }}</span>
      <span class="account-number">#{{ company.accountNumber }}</span>
    </div>

    <div class="top-bar-right">
      Welcome, {{ currentUser.firstName }} {{ currentUser.lastName }}
      <span class="sep">|</span>
      <a class="link-logout" {{action 'invalidateSession'}}>Log Out</a>
    </div>
  </div>
</div>
