{{#liquid-if displayPhone class="phone"}}

  {{#liquid-if isEditable class="isEditable"}}
    {{masked-input mask="111-111-1111" placeholderChar=" " value=buffer class="phone-input" insert-newline="handleEnterKey" escape-press="handleEscapeKey"}}
  {{else}}
    <div class="phone-text" {{action "handleIsEditable"}}>{{format-phone phone}}</div>
  {{/liquid-if}}

{{else}}

  <a href="#" {{action 'handleAddPhone'}}>
    <i class="icon-plus-circled"></i>add
  </a>

{{/liquid-if}}
