{{#header-page}}
  {{#block-slot 'title'}}<em>DriverDash</em> Access for Active Drivers{{/block-slot}}
  {{#block-slot 'subtitle'}}Drivers must have a unique mobile phone number to be invited to DriverDash.{{/block-slot}}
{{/header-page}}


<div class="page-invites">

  {{#zf-accordion data-multi-expand="true" data-allow-all-closed="true"}}
    <li class="accordion-item is-active" data-accordion-item data-disable-collapse="true">
      <a class="accordion-title">Send Invites <span class="items-count">{{pluralize model.length 'Driver'}}</span></a>
      <div class="accordion-content" data-tab-content>

        {{#if model.length}}

          <table>
            <thead>
              <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Driver ID</th>
                <th>Mobile Phone #</th>
                <th>DriverDash Access</th>
                <th class="actions"><input type="checkbox" checked={{isAllChecked}} onchange={{action "handleToggleAll" value="target.checked"}}></th>
              </tr>
            </thead>

            <tbody>
              {{#each model as |driver|}}
                {{#driver-details driver tagName="tr" onUpdatePhone=(action 'handleToggleItemCheckbox' driver) as |detail|}}
                  <td>{{ detail.lastName }}</td>
                  <td>{{ detail.firstName }}</td>
                  <td>{{ detail.driverId }}</td>
                  <td>{{ detail.phone }}</td>
                  <td>
                    {{!-- <div class="uninvited">&mdash;</div> --}}
                    <div class="invited">
                      <p class="status">Invite Sent</p>
                      <p class="expiration">Expires in 5 days</p>
                    </div>
                  </td>
                  <td>{{input type="checkbox" checked=driver.isChecked disabled=(not driver.isValidPhone)}}</td>
                {{/driver-details}}
              {{/each}}
            </tbody>
          </table>

          <footer class="accordion-item-footer">
            <button class="button">
              Invite
              {{#liquid-if (gt checkedItems.length 0) class="drivers-selected"}}<small>({{checkedItems.length}})</small>{{/liquid-if}}
            </button>
          </footer>

        {{else}}

          <div class="no-content">You currently have no driver to invite, you need to first add them on WexOnline.</div>

        {{/if}}

      </div>
    </li>

    <li class="accordion-item is-active" data-accordion-item data-disable-collapse="true">
      <a class="accordion-title">Manage Access</a>
      <div class="accordion-content" data-tab-content>
        <div class="no-content">You currently have no drivers to manage, you can invite drivers from the list above.</div>
      </div>
    </li>
  {{/zf-accordion}}

</div>
